<!-- // const inputMsgForm = () => {
//   return (
//     <> -->
<form method="POST" action="/new">
  <label for="user">User: </label>
  <input type="text" name="user" />
  <label for="message"></label>
  <textarea name="message" id="message"></textarea>
  <button type="submit">Send Message</button>
</form>
;
<!-- //     </>
//   );
// };

// export default inputMsgForm; -->
